.characters {
  padding: 20px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.character img{
  border:solid 5px white;
  border-radius: 10px;
  width: 20rem;
  height: 10rem;
}

.character h2 {
  border-radius: 5px;  
  padding: 2px;
  margin: 2px;
  background-color: #000000ee;
}

.title {
  font-size: 30px;
}